<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.r.chat.mapper.ChatSessionUserMapper">

    <select id="selectChatSessionUserVOList" resultType="com.r.chat.entity.vo.ChatSessionUserVO">
        select csu.*,
               cs.last_message,
               cs.last_receive_time,
               IF(substring(csu.contact_id, 1, 1) = 'G', (select count(*)
                                                          from r_chat.user_contact uc
                                                          where uc.contact_id = csu.contact_id
                                                            and uc.status = 1), 0) memberCount,
               IF(substring(csu.contact_id, 1, 1) = 'G', 1, 0)                     contactType
        from r_chat.chat_session_user csu
                 inner join r_chat.chat_session cs on csu.session_id = cs.session_id
        where user_id = #{userId}
        order by cs.last_receive_time desc
    </select>
</mapper>
